<p id="notice"><%= notice %></p>

<p>
  <strong>User name:</strong>
  <%= @friend.user_name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @friend.email %>
</p>

<p>
  <strong>Password:</strong>
  <%= @friend.password %>
</p>

<%= link_to 'Edit', edit_friend_path(@friend) %> |
<%= link_to 'Back', friends_path %>
